.errorContainer {
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorImage {
  width: 90%;
  border-radius: 20px;
}
.errorContent {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.errorDetail {
  text-align: justify;
  text-justify: inter-word;
}
.errorTitle {
  color: white;
}
